#menu_principal {
  height: 250px;
  background: #1d4372;
  background-image: url("fondo/004.png");
  background-repeat: no-repeat;
}

#menu_Principal_Titulo {
  font-family: 'Lora', serif;
  font-size: 1.4em;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  background: #1d4372;
  text-transform: uppercase;
  position: -webkit-sticky;
  position: sticky;
  z-index: 5;
  top: 0px;
}

#menu_Principal_Banner {
  height: 190px;
}

nav {
  width: 100%;
  border-color: #ffffff 2px solid;
}

nav a {
  text-decoration: none;
  color: #ff0000;
}

nav ul {
  margin: 0 auto;
  padding: 0;
  background: #1d4372;
  -webkit-animation-name: un_efecto;
          animation-name: un_efecto;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

nav ul li {
  list-style: none;
  display: inline-block;
  padding: 5px;
  font-size: 0.8em;
}

nav ul li:hover {
  background: #63f382;
  padding-left: 15px;
  padding-right: 100px;
  margin-right: 20px;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transform: translate(20px);
          transform: translate(20px);
  -webkit-transition: 2s,2s;
  transition: 2s,2s;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  border-left: solid 1px;
}

nav .toggle {
  width: 100%;
  padding: 10px 20px;
  text-align: right;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #ffffff;
  font-size: 30px;
  display: none;
}

nav .iconos {
  width: 20px;
  height: 20px;
  padding: 7px;
}

#grilla {
  width: 98%;
  max-width: 98%;
  margin: 3px auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (auto)[4];
      grid-template-rows: repeat(4, auto);
      grid-template-areas: "header header header" "primera primera aside" "segunda segunda segunda" "footer footer footer";
  gap: 1px;
  justify-items: center;
}

#menu_principal {
  width: 100%;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
  height: 250px;
  background: #1d4372;
  background-image: url("fondo/004.png");
  background-repeat: no-repeat;
}

#main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: primera;
}

.imgfloat {
  width: 25%;
  border-radius: 35% 5%;
  float: left;
  padding: 15px;
}

section#section {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: segunda;
  width: 100%;
}

aside#aside {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: aside;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(blue), to(black));
  background-image: linear-gradient(white, blue, black);
}

footer {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
  width: 100%;
  background: #1d4372;
  color: azure;
  border-color: white 2px solid;
  text-align: center;
}

.productos {
  background-color: #919090;
  padding: 1%;
}

.productos .productos_galeriaTitulo {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.4em;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}

.productos .productos_carrucelImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.localesUbic {
  background-color: #303030;
  padding: 1%;
}

.localesUbic .localesTitulos {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.4em;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}

.localesUbic .localesMaps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.localesUbic .localesMaps .local {
  width: 570px;
  height: 490px;
  color: whitesmoke;
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
  border: #919090 double 4px;
}

.localesUbic .localesMaps .local:hover {
  border: #ffffff double 3px;
}

.galeria {
  background-color: #303030;
  padding: 1%;
}

.galeria .galeriaImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.galeriahijo {
  border: 1px solid #303030;
}

.tituloGaleria {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.4em;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  padding: 20px;
}

.footer_titulo {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1em;
  font-weight: bold;
}

.footer_desarrollador {
  font-style: italic;
  font-weight: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #c9c9c9;
}

.formulario_contacto {
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.contacto_campos {
  display: inline;
}

.border {
  border: 2px double #830000;
}

h4 {
  font-style: italic;
  font-size: 0.9em;
}

.tablas {
  border: "0";
  background-color: #0a033b;
}

.tabla {
  border: "0";
  background-color: white;
}

.multimp3, .multivideos {
  text-align: center;
}

.titH2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.2em;
  font-weight: bold;
}

.comentario {
  display: inline-block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  font-size: 1em;
  text-align: justify;
  font-style: italic;
  font-weight: bold;
  width: 88%;
}

@-webkit-keyframes un_efecto {
  0% {
    background-color: #1d4372;
  }
  20% {
    background-color: #3062a0;
  }
  30% {
    background-color: #79a7df;
  }
  40% {
    background-color: #78af91;
  }
  50% {
    background-color: #28583e;
  }
  60% {
    background-color: #0c502b;
  }
  80% {
    background-color: #0c504d;
  }
  100% {
    background-color: #1d4372;
  }
}

@keyframes un_efecto {
  0% {
    background-color: #1d4372;
  }
  20% {
    background-color: #3062a0;
  }
  30% {
    background-color: #79a7df;
  }
  40% {
    background-color: #78af91;
  }
  50% {
    background-color: #28583e;
  }
  60% {
    background-color: #0c502b;
  }
  80% {
    background-color: #0c504d;
  }
  100% {
    background-color: #1d4372;
  }
}

@media (max-width: 800px) {
  #menu_Principal_Titulo {
    font-size: 1em;
  }
  #menu_Principal_Banner {
    display: none;
  }
  #menu_principal {
    height: 130px;
    background-size: 130%;
  }
  nav .titulo {
    font-size: 0.9em;
  }
  nav .toggle {
    display: block;
    width: 15%;
    padding: auto;
  }
  nav ul {
    width: 100%;
    display: none;
    position: -webkit-sticky;
    position: sticky;
  }
  nav ul li {
    padding-left: 15%;
    text-align: justify;
    display: block;
  }
  nav .mobile {
    display: block;
    z-index: 10;
  }
}

@media (min-width: 1200px) {
  body {
    max-width: 1300px;
    margin: 0 auto;
  }
}
/*# sourceMappingURL=estilomobil.css.map */